<a href="#" id="btn-retour-haut" class="bouton-flottant">&#8593;</a>

<style>
  /* Styles du bouton flottant */
  .bouton-flottant {
    z-index: 99999999;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #7737f7;
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* display: none; On cache le bouton par défaut */
  }
  /* Afficher le bouton lorsque l'utilisateur commence à faire défiler la page */
  .bouton-flottant.visible {
    display: block;
  }
</style>
<script>
  // Script pour gérer le comportement du bouton flottant
  const btnRetourHaut = document.getElementById("btn-retour-haut");

  // Afficher le bouton lorsque l'utilisateur commence à faire défiler la page au-delà de 300px
  window.addEventListener("scroll", () => {
    if (window.scrollY > 350) {
      btnRetourHaut.classList.add("visible");
    } else {
      btnRetourHaut.classList.remove("visible");
    }
  });

  // Gérer le clic sur le bouton pour remonter en haut de page
  btnRetourHaut.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>
