<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link id="fichierCSS" rel="stylesheet" href="css/style2.css">
    <link rel="preload" href="/script" />
    <link rel="preload" href="/img">
    <link rel="preload" href="/components" />
    <title>Hervé</title>
</head>
<body>
<header>
    <nav  class=" header">
        <div class="navbar-logo">
        <a href="#">
        <div class="logo-container">
            <div class="logo" id="logo">
                <div class="initials">
                    <div class="initial" id="initialH">H</div>
                    <div class="initial" id="initialG">G</div>
                </div>
                <div class="name" id="name"> Hervé Guerre</div>
            </div>
        </div>
        </a> 
        </div>  
        <!--<div class="recherche" >
            <input type="text" id="searchInput" placeholder="Rechercher..."><ul id="searchResults"></ul>
        </div>-->
        
        <div class="menu container " >           
            <ul class="navbar-links" id="navbar-links">              
                <button class="btn_theme"><a href="index.html" title="Acceuil">Acceuil</a></button>
                <button class="btn_theme"><a href="about.html" title="A propos">A propos</a></button>
                <!--<button class="btn_theme"><a href="cv.html#man">Contact</a></button>-->
                <button class="btn_theme"><a href="cv.html#man" title="Voir mon cv">Contact</a></button>
            <button class="btn_theme" onclick="changerFichierCSS()">&#9788;&#9789;</button>           
            </ul>
            <div class="navbar-burger" onclick="toggleNavbar()">
                <button class="btn_theme_burger"><a href="index.html" title="Acceuil">Acceuil</a></button>
                <button class="btn_theme_burger"><a href="about.html" title="A propos">A propos</a></button>
                <!--<button class="btn_theme_burger"><a href="experience.html">Contact</a></button>-->
                <button class="btn_theme_burger"><a href="cv.html#man" title="Voir mon cv">Contact</a></button>
            <button class="btn_theme_burger" onclick="changerFichierCSS()">&#x263C; &#x263D;</button>
            </div>
        </div>  
        <div class="title" >
            <h1>Hervé</h1>
            <h3>Développeur Front-end</h3>                        
        </div>  
        <div class="clock container">
            <div class="hour" id="hour"></div>
            <div class="divider">:</div>
            <div class="minute" id="minute"></div>
        </div>
        <div class="slide_logo"><a href="#man">
            <img src="img/logo/html.png" alt="html">
            <img src="img/logo/css.png" alt="css">
            <img src="img/logo/js.png" alt="java script">
            <img src="img/logo/php.png" alt="php">
            <img src="img/logo/react.png" alt="react">
            <img src="img/logo/vscode.png" alt="vscode">
            <img src="img/logo/xd.png" alt="adobe xd"></a>
        </div>
    </nav>

</header>