<div class="menu container">
    <ul class="navbar-links" id="navbar-links">
      <button class="btn_theme">
        <a href="../index.html" title="Acceuil">Acceuil</a>
      </button>
      <button class="btn_theme">
        <a href="../pages/about.html#man" title="A propos">A propos</a>
      </button>
      <button class="btn_theme">
        <a href="cv.html#man" title="Voir mon cv">Contact</a>
      </button>
      <button class="btn_theme" onclick="changerFichierCSS()">
        &#9788;&#9789;
      </button>
    </ul>
    <div class="navbar-burger" onclick="toggleNavbar()">
      <button class="btn_theme_burger">
        <a href="index.html" title="Acceuil">Acceuil</a>
      </button>
      <button class="btn_theme_burger">
        <a href="about.html#main" title="A propos">A propos</a>
      </button>
      <button class="btn_theme_burger">
        <a href="cv.html#man" title="Voir mon cv">Contact</a>
      </button>
      <button class="btn_theme_burger" onclick="changerFichierCSS()">
        &#x263C; &#x263D;
      </button>
    </div>
  </div>